<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculate</title>
</head>
<body>
<form action="{% url 'add' %}" method="get">
    <table align="center" border="5">
        <tr>
            <td>
            <label for="a">a</label>
            </td>
            <td>
            <input type="text" name="a" id="a">
            </td>
        </tr>
        <tr>
            <td>
        <label for="b">b</label>
        </td>
        <td>
            <input type="text" name="b" id="b">
        </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Add">
            </td>
        </tr>
    </table>
</form>

<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
      $("#sum").click(function(){
        var a = $("#a").val();
        var b = $("#b").val();

        $.get("/add/",{'a':a,'b':b}, function(ret){
            $('#result').html(ret)
        })
      });
    });
</script>
</body>
</html>